footer {
  padding-top: 44px;
  padding-bottom: 25px;
  background-color: #EBEBEB;
  text-align: center;
}

.footer {

  &__soc {
    padding-bottom: 12px;
  }

  &__soc-item {
    width: 16.8px;
    height: 16.8px;
    display: inline-block;
    margin: 3px 6px;

  }


  &__svg {
    height: 20px;
    width: 20px;
  }

  &__lead {
    margin-bottom: 24px;
  }
}



